@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply bg-transparent focus:outline-none w-full;
  }
}

@layer components {
  .dark-button {
    @apply bg-gray-800 text-gray-100 py-2 focus:outline-none hover:bg-gray-700 disabled:opacity-70;
  }
  .scrollable {
    @apply absolute top-0 bottom-0 left-0 right-0 h-full w-full overflow-y-scroll;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .joinform-input {
    @apply h-12 w-52 rounded-full bg-white shadow p-4 flex items-center;
  }
  .player-list-wrapper {
    @apply grid grid-cols-iterator-sm md:grid-cols-iterator-md lg:grid-cols-iterator-lg gap-2 justify-items-center overflow-y-scroll;
  }
  .hovering-button {
    @apply w-12 h-12 shadow rounded-full absolute bottom-8 right-8;
  }
}
