body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dark-button {
    @apply bg-gray-800 text-gray-100 py-2 focus:outline-none hover:bg-gray-700 disabled:opacity-70;
  }
  .scrollable {
    @apply absolute top-0 bottom-0 left-0 right-0 h-full w-full overflow-y-scroll;
  }
  .nav-button {
    @apply font-bold font-roboto px-2 py-1 text-theme-200 md:hover:text-green;
  }
  .nav-button.active {
    @apply text-theme-200;
  }
  .hidden-sm {
    @apply hidden md:block;
  }
}
